
 *{
   /* margin: 0;
  padding: 0; */
  box-sizing: border-box; 
  /* border: 1px solid black; Debughoz használható  */

}
body{
  
}

#page-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, #4a6fa5, #b7e4c7);
flex-direction: column;
  justify-content: center;
  align-items: center; 
}
#title{
  font-size: 25px;
   text-align: center;
}
#formular {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center; 
width:80%;
height: 50%;
background-color: rgba(74, 111, 165, 0.5);
border: 1px dotted black;
border-radius: 30px;
align-items: center;

}
#text-input {
background-color: #b7e4c7;
width: 80%;
margin: 1rem;
padding: 1rem;
border: none;
border-radius: 4px;
color:#938b5f;
font-size: 20px;
}
#check-btn {
  
  color: black;
  background-color: #ffea3d; /* sanftes Gelb */
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

#check-btn:hover {
  background-color: #f7d600; /* etwas dunkleres Gelb beim Hover */
  transform: scale(1.15);
  cursor: pointer;
}

#check-btn:active {
  background-color: #d4b800;
  transform: scale(0.95);
}
#result{
  width: 85%;
  height: 3rem;;
  background-color: #fff6b0;
  width: 80%;
margin: 1rem;
padding: 1rem;
border: none;
border-radius: 4px;
color:#938b5f;
font-size: 20px;
font-size: 1rem;
  line-height: 1.4;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
  min-height: 3em;

}
